<!DOCTYPE html>
<html lang="en">
<head>
  {{>headlinks}}
</head>
<body>
  {{>navbar}}

    <!-- -------------------- main header--------------------- -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class = "col-md-10 col-12 mx-auto">
                <div class="row" style="display: flex;">
                    <div class="col-md-6 col-12 main_header_right">
                        <figure>
                            <img src="https://th.bing.com/th/id/OIP.M1hiNrnjvCpib7t5eaJxzAHaEb?rs=1&pid=ImgDetMain" alt="suhani" class="img-fluid" title="suhani_proj" style="width:800px;">
                        </figure>
                    </div>
                    <div class="col-md-6 col-12 main_header_left">
                    <p>Welcome to weather app</p>
                    <h1>I'm a <span class="text-clr">Mern stack </span>Developer as well as a graphic designer</h1>
                    <a href="#"><button style="margin-bottom: 20px;">check now</button></a>
                    <!-- <p1 class="para">Features of the App</p1>
                    <p2 class="para">1. Current Conditions: Provides real-time weather information such as temperature, humidity, wind speed, and direction for the user's current location or a selected location.</p2>
                    <p3 class="para"> 2. Forecast: Offers a forecast for the upcoming hours or days, including predicted temperature highs and lows, precipitation chances, and weather conditions.</p3>   
                    <p4 class="para">  3. Hourly Forecast: Breaks down the forecast into hourly intervals, giving users a detailed view of how weather conditions are expected to change throughout the day.</p4> 
                    <p5 class="para">  4. Daily Forecast: Provides a summary of weather conditions for each day in the upcoming week or longer, helping users plan ahead.</p5> -->
                    </div>
              </div>
            </div>
        </div>
    </div>
      <!-- -------------------- footer --------------------- -->

{{>footer}}
</body>
</html>